@model Article

<div class="content">
    <h1>@Model.Headline</h1>
    @if (Model.ArticleBody != null)
    {
        foreach (var para in Model.ArticleBody)
        {
            <div>
                @Html.DxaRichText(para.Content)
            </div>
        }
    }
</div>
